```{=html}
<h2>Available Tables</h2>
<ul>
    <% for (const item of items) { %>


        <h4><a href="<%- item.path%>"><%- item.title%></a>
        </h4>
        <code> <%= item.name %> </code>

        <p><%- item.description %></p>


        <% } %>

</ul>
```
